*{margin:0; pading:0;}
a{text-decoration:none;}
kbd{border:1px solid red;width:4em;height:4em; display:inline-block;
    text-transform: uppercase;
    position: relative;
}
kbd > button{
    position: absolute;
    right: 0px;
    bottom:0px;
    display: none;

}
kbd:hover > button{
    display:  inline-block;
}
body{
    height: 100vh;
    background:white url(./ztyhal.jpg) no-repeat center center;
    height: 100%;
    width: 100;
    background-size: cover;
}
main{ text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#main{ display:inline-block;}
#main > div:nth-child(2){margin-left:-22px;}
#main > div:nth-child(3){margin-left:-80px;}
.wrapper{
    background: rgba(255,255,255,0.2);
    border-radius : 10px;
}
.key{width: 70px;height: 60px;background: linear-gradient(to bottom, #292929 0%,#111111 100%); border: 1px solid #373737;color: #C5C5C5;border-radius: 7px;box-shadow: 0 0 0 1px #1a1b1c, 0 0 0 2px #1f2020, 0 3px 0 2px #080808;
    font-size: 15px; font-family: Arial, Helvetica, sans-serif;
    position: relative; }
.row{margin: 20px;}
.row .key{margin: 0 10px;}
.key img{
    width: 18px;
    height: 18px;
    position: absolute;
    left: 4px;
    bottom: 2px;
}
.key .text{
    position: absolute;
    left: 4px;
    top:  2px;
}